<%= javascript_tag do %>
  var mkd2html_api = '<%= url_for :controller => 'api', :action => 'markdown2html', :only_path => false %>';
<% end %>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "preview_markdown.js" %> 

Preview:
<p id="preview">
</p>
