// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .navbar-inner {
//   background-color: #2c2c2c; /* fallback color, place your own */
// 
//   /* Gradients for modern browsers, replace as you see fit */
//   background-image: -moz-linear-gradient(top, #333333, #222222);
//   background-image: -ms-linear-gradient(top, #333333, #222222);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
//   background-image: -webkit-linear-gradient(top, #333333, #222222);
//   background-image: -o-linear-gradient(top, #333333, #222222);
//   background-image: linear-gradient(top, #333333, #222222);
//   background-repeat: repeat-x;
// 
//   /* IE8-9 gradient filter */
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
// }
/*
.container-fluid > .brand {
  color: white;
}
.navbar .nav > li > a {
  color: white;
}
*/
